



#start-chat-btn {
  background: linear-gradient(to right, #c04eaf, #3d4c96, #0056b3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 300px;
  width: 350px;
  height: 150px;

  text-transform: uppercase;
  box-shadow: black 0px 0px 30px 0px;


  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;


}


#start-chat-btn:hover {

    box-shadow: black 0px 0px 40px 5px;
    transition: box-shadow 0.3s ease-in-out;


}




body {


    background: linear-gradient(to right, #76246a, #121e57, #0056b3);

    display: flex;
    justify-content: center;
    align-items: center;

    ;


}