



#start-chat-btn {

    display: block;
    
    margin-left: auto;
    
    margin-right: auto;
    
    margin-top: 150px;

    padding: 100px;  

    background-color: #007bff;

    color: white;
  
    font-size: 50px;
  
    border: none;

    border-radius: 20px;

    cursor: pointer;

    
}


#start-chat-btn:hover {

    background-color: #0056b3;

}

#chat-container {

    display: flex;

    flex-direction: column;

    height: 80vh;

    border: 1px solid #ccc;

    padding: 10px;

    overflow-y: scroll;

}
